{% block page_content %}
<style>
    body {
        margin: 0px;
        padding: 0px;
        /* background-color: whitesmoke; */
    }

    /* it has no impact */
    /* @media screen {
		.print-format {
			width: 1.10236in;
			min-height: 2.00787in;
			padding: 0in;
			margin: auto;
		}
	*/
    @media print {
        .print-format p {
            /* margin-left: 0px;
            margin-right: 0px;
            margin-top: 0mm!important; */
	margin-bottom: 0mm!important;
	margin-left: 0!important;
	margin-right: 0!important;
	padding-top: 0!important;
	padding-bottom: 0!important;            
        }
    }

    .barcode {
        /* width: 200px;
        height: 73px;
        object-fit: contain; */
        margin: 0px;
        padding: 0px
    }

    img {
        margin: 0px;
        padding-left: 2px!important;
        padding-right: 0px!important;
	    width: 22mm!important;;
	    height: 11mm !important;        
    }
</style>

{% macro render_barcode(barcode) %}
{% if barcode %}
{% set params = "&code=code128&margin=0&height=45&write_text=0"%}
<img class="barcode" alt="{{barcode}}"
    src="{{frappe.get_url()}}/api/method/label_print_gc.api.get_barcode?barcode_text={{barcode}}"></img>
{% endif %}
{% endmacro %}


<!-- content -->
 <!-- empty place holder to remove top-marging in pdf -->
<div id="header-html">
   
</div>


<table style="border-collapse: collapse;border-spacing: 0; width: 42mm!important;margin: 0;padding: 0;">
    <tr style="width: 21mm!important;">
        <!-- <td style="padding-left: 1; margin: 0;" rowspan="3">{{render_barcode(doc.barcode_label)}}</td> -->
        <!-- <td style="padding-left: 0; margin: 0;" rowspan="3"><img class="barcode" src="data:image/png;base64,{{ get_ewaybill_barcode(doc.barcode_label) }}"></td> -->
        <td rowspan="2" style="width: 21mm!important;padding-right: 0; padding-top: 0; padding-left: 0;padding-bottom: 0;margin: 0;font-size: 14px; font-weight: bold; text-align: center;">{{doc.item_name}}</td>
        <td style="width: 21mm!important;padding-right: 0; padding-left: 0;padding-bottom: 0;padding-top: 0;margin: 0; font-size: 13px; font-weight: bold; text-align: center;">{{doc.item_code}}</td>
        
    </tr>
   <tr style="width: 21mm!important;">
    <td style="width: 21mm!important;padding-right: 0; padding-left: 0;padding-bottom: 0;padding-top: 0;margin: 0; font-size: 13px; font-weight: bold; text-align: center;">{{doc.sales_price}} SAR</td>
   </tr>   
</table>
    <!-- empty place holder to remove bottom-marging in pdf -->

<div id="footer-html">
</div>
<!-- end content -->


{% endblock %}