<style>
    .print-format {
       margin-top:6mm;  
       margin-bottom: 0mm;

  }
	svg{
	    width: 100%!important;;
	    height: 1.5cm !important;;
	}
    table {
	/* margin-left: 0px!important;
	margin-right: 0px!important;
    margin: 0;
  padding: 0!important; */
  border-spacing: 1px;
    ;
}    
@media print {
  body {
    margin: 0;
    padding: 0;
  }

}

</style>


<table style="width:100%;"  >
    {%- for item in doc.item_barcode_print -%}
    {%- for i in range(item.qty)  -%}
  
        {% if loop.index0 % 3 == 0 %}
        <tr>
        {% endif %}
        
        <td style="background-color: burlywood;width:7cm!important;height:2.5cm;">
             {{ item.barcode}}
            <small>&nbsp;&nbsp;SR {{ item.item_name}} {{ frappe.format(item.item_rate, {'fieldtype': 'Currency'}) }} </small>
        </td>

        {% if loop.index % 3 == 0 %}
        </tr>
        {% endif %}

    {% endfor %}
    {% endfor %}
</table>